@font-face {
  font-family: 'font1';
  src: url(font1.ttf);

}body, html {
    margin: 0;
    padding: 0;
    height: 150vh;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('background.jpg'); /* Replace with the path to your 4K image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    margin: 0;
    padding: 0;
     /* Ensures the body takes up the full height of the viewport */
    width: 100vw; /* Ensures the body takes up the full width of the viewport */
}



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  :root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
  }
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100vw;
    height: 100%;
   
  }
  
  .sidebar{
    z-index: 5;
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
  }
  .sidebar header{
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
    font-family: 'Lato', sans-serif;
  }
  .sidebar a{
   
    display: block;
    height: 65px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid var(--accent-color);
    color: #fff;
     background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
    color: #cfcfcf;
  }
  .sidebar a span{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bbbbbb;
  }
  #check{
    display: none;
  }
  
  label #btn,label #cancel{
    border:3px solid rgb(6, 6, 6);
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: pointer;
    color: #444444;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #afafaf;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
     3.5px 3.5px 20px 0px rgba(0,0,0,.1),
     2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  @media(max-width : 860px){
    .sidebar{
      top: 130px;
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
      color: #444444;
    }
  }
  
  .sidebar > a.active,.sidebar > a:hover:nth-child(even) {
    --accent-color: #444444;
    --gradient-color: #797979;
  }
  .sidebar a.active,.sidebar > a:hover:nth-child(odd) {
    --accent-color: #797979;
    --gradient-color: #444444;
  }
  

.card_content {
  padding: 1.2rem;
}

h3.card_title,
p {
  margin: 1.2rem 0;
}

h3.card_title {
  font-size: 1.3em;
}

.c1 {
  position: relative;
  top:600px; /* Align to top */
  left: 0; /* Align to left */
  width: 100%; /* Ensure it spans the full width */
  display: flex;
  justify-content: center;
}
article {
  margin-top: 10px;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
  transition:0.4s ease-in-out;
}
article a:hover{
 
  color: #295960;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}



.articles {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}


@media screen and (max-width: 600px) {
  .articles {
    display: block; /* Switch to block layout on smaller screens */
  }
  
  .article-wrapper {
    display: grid; /* Change to flexbox layout */
    flex-direction: row; /* Display articles in a row */
    align-items: center; /* Align items horizontally */
  }
  
  .article-body {
    padding-left: 0; /* Remove left padding on article body */
  }
 
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
:root {
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}



.card1 {
  top: -100px;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}
.card1{
  position: relative;
  margin-top: 50%;
  
}
.twelve h1 {
  font-size:70px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
}
.twelve h1{
  font-family: 'font1';
}
.twelve h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.twelve h1:after {
    background-color: #c50000;
    content: '';
    display: block;
  position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

.c3{
  position: absolute;
  top: 3%;
  background-color: #ffffff;
  width: 50%;
  height: 20%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.771);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}
.c4{
  position: absolute;
  top: 30%;
  left: 35%;
}

@media (max-width:500px){
  .c1{
    margin-top: 1200px;
    margin-left: 70px;
    margin-right: 20px;
    width: 85%;
  }
  .c4 {
   
    left: 20%;
    right: auto;
  }
  .c3{
    width: 87%;
    left: 5%;
    right: 5%;
  }
 .article-body .p1{
  left: 5px;
 }
 .card1{
  top: 400px;
  left: 5px;
  right: 5px;
 }
}
@media (max-width:380px){
  .card1{
    top: 430px;
    left: 5px;
    right: 5px;
   }
}
